<div data-ng-controller="MembersController">
  <div class="container">
    <br/>
    <div data-ng-include="header_url"></div>

    <div class="main-content">
        
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Username</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="(i, member) in memberList">
            <td>{{i+1}}</td>
            <td>{{member.username}}</td>
            <td><a href="#/message/{{member.id}}" class="btn btn-default">Message</a></td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>
