<div data-ng-controller="MessageController">
  <div class="container">
    <br/>
    <div data-ng-include="header_url"></div>

    <div class="main-content">
      
      <h3>{{friend.username}}</h3>
      <hr/>

      <div class="row" data-ng-if="messageList.length">
        <div class="col-md-12" data-ng-repeat="message in messageList">
          <strong>{{message.sender | username:affectedMembers}}: </strong>
          {{message.message}}
        </div>      
      </div>

      <div class="row" data-ng-if="!messageList.length">
        <div class="col-md-12">
          No conversation found yet !
        </div>      
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <textarea id="message-text" class="form-control" data-ng-model="newMessage.message"></textarea>
          <br/>
          <button class="btn btn-success pull-right" data-ng-click="message()">Send</button>
        </div>
      </div>
    </div>


  </div>
</div>
